<!-- <h1>{{message}}</h1>
<h2>{{error.status}}</h2> -->
<div class="containerError">
    <div class="error">
        <h1>Oops!</h1>
        <h2>{{error.status}}</h2>
        <p>Sorry!, an error has occured. The resource yo requested has not been found!</p>
        <a href="/"><button>Home</button></a>
        <a href=""><button>Contatc</button></a>
    </div>
</div>
