<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
    <header>
      <div>
        <a href="/">
          <img src="/images/iconoweb.png" alt="icono" class="icono"/>
          <p>GeeksHubs Travels</p>
        </a>
      </div>
      <nav>
        <ul>
          <a href="/"><li>Destinos</li></a>
          <a href="/"><li>Quién somos</li></a>
          <a href="/"><li>Donde estamos</li></a>
        </ul>
      </nav>    
      <div>
        <a href="login"><button class="login">LOGIN</button></a>
        <a href="register"><button class="registro">REGISTRO</button></a>
        <a href="admin"><img src='/images/admin.png' alt="Administrador" class="admin"/></a>
        <a href="compra"><img src='/images/cart.png' alt="Compra" class="compra"/></a>
      </div>
    </header>
    {{{body}}}
    <footer>
      <div class="footer">
        <div>
          <h4>¿NECESITAS AYUDA?</h4>
          <p>0264 123 4567</p>
          <a href="mailto:enquiry@geekshubstravel.com">enquiry@geekshubstravel.com</a>
          <p>Lun-Vie. 9.30-19.00 Sab: 10.00-14.00</p>
        </div>
        <div class="informacion">
          <h4>INFORMACIÓN</h4>
          <div>
            <a href="#"><p>Quienes somos</p></a>
            <a href="#"><p>Preguntas frecuentes</p></a>
            <a href="#"><p>Politica de privacidad</p></a>
            <a href="#"><p>Condiciones generales</p></a>
            <a href="#"><p>Aviso legal</p></a>
            <a href="#"><p>Contacto</p></a>
            <a href="#"><p>Programa de puntos</p></a>
          </div>
        </div>
        <div>
          <h4>SUSCRIBETE A LA NEWSLETTER</h4>
          <input type="text" placeholder="Correo electrónico"></input>
          <div>
            <button>SUSCRIBETE</button>
          </div>
          <div class="cajaRedes">
            <a href="#"><img src="/images/tt-ico.png" alt="twitter" class="redes"></a>
            <a href="#"><img src="/images/fb-ico.png" alt="facebook" class="redes"></a>
            <a href="#"><img src="/images/instagram.png" alt="instagram" class="redes"></a>
            <a href="#"><img src="/images/youtube.png" alt="youtube" class="redes"></a>
            <a href="#"><img src="/images/lk-ico.png" alt="linkendin" class="redes"></a>
            <a href="#"><img src="/images/ws-ico.png" alt="whatssap" class="redes"></a>
          </div>
        </div>
      </div>
      <small>GeeksHubs Travels 2018 Todos los derechos reservados</small>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
