<div class="container">
    <div class="cajaRegistroLogin">
        <p class="tittle">LOGIN</p>
        <div>
            <form method="POST" action="users/login">
                <input type="text" name="usernameEmail" placeholder="Usuario o Email" class="input" required/>
                <input type="password" name="password" placeholder="Contraseña" class="input" required/>
                <div>
                    <input type="submit" value="Enviar" class="submit"/>
                </div>
            </form> 
            <div>
                <a href="/recovery">¿No recuerdas tu contraseña?</a>
            </div>
        </div>
    </div>
</div>