<div class="container">
    <div class="cajaRegistroLogin">
        <p class="tittle">RECOVERY</p>
        <div>
            <form method="POST" action="users/recovery">
                <input type="text" name="email" placeholder="Email" class="input" required/>
                <div>
                    <input type="submit" value="Enviar" class="submit"/>
                </div>
            </form> 
        </div>
    </div>
</div>