<script >
    setTimeout(()=>{
        window.location.replace('/')
    },3000)
</script>
<div class="container">
    <div class="cajaRegistroLogin">
        <p class="tittle">NUEVA CONTRASEÑA REGISTRADA</p>
    </div>
</div>