<div class="container">
    <div class="cajaRegistroLogin">
        <p class="tittle">CAMBIE SU CONTRASEÑA</p>
        <div>
            <form method="POST" action="/users/resetPass2">
                <input type="password" name="password" placeholder="New password" class="input" required/>
                <div>
                    <input type="submit" value="Enviar" class="submit"/>
                </div>
            </form> 
        </div>
    </div>
</div>